# ============================================================
# COMMON CONFIGURATION
# ============================================================

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080

ApiSettings__Secret=
ApiSettings__Issuer=
ApiSettings__Audience=


# ============================================================
# HTTP / LOCAL PROFILE
# ============================================================

Http__ConnectionStrings__DefaultConnection=
Http__ServiceUrls__ProductAPI=


# ============================================================
# DOCKER PROFILE
# ============================================================

Docker__ConnectionStrings__DefaultConnection=Server=
Docker__ServiceUrls__ProductAPI=
